
@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'nunito_sans';
    src: url('../../fonts/nunito-sans/nunitosans-semibold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-sans/nunitosans-semibold-webfont.woff') format('woff'),
         url('../../fonts/nunito-sans/nunitosans-semibold-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-sans/nunitosans-semibold-webfont.svg#nunito_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('../../fonts/quicksand/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

