.services {
    padding: 55px 0 69px;

    &__card {
        @include breakpoint(md) {
            max-width: 48%;
            margin-bottom: 20px;
        }

        @include breakpoint(sm) {
            max-width: 100%;
            margin:20px 40px;
        }

        @include breakpoint(xs) {
            max-width: 100%;
            padding: 20px;
            margin: 20px 10px;
        }
    }
    
    &__pseudo-title {
        color: #7690A8;
        margin-bottom: 17px;
    }

    &__title {
        font-family: nunito_sans, sans-serif;
        font-weight: 600;
        font-size: 40px;
        letter-spacing: 0.2px;
        margin-bottom: 35px;

        @include breakpoint(sm) {
            font-size: 35px;
            text-align: center;  
        }

        @include breakpoint(xs) {
            font-size: 30px;
        }
    }

    &__card-holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}