$white: #fff;
$black: #16133D;
$grey: #EFEEF3;
$green: #3DB370;
$dark-green: #52C29D;
$blue: #007FFC;

$font-size-global: 16px;
$line-height-global: 28px;

@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width: 992px) {@content;}
    }

    @else if $point == md {
        @media (max-width: 768px) {@content;}
    }

    @else if $point == sm {
        @media (max-width: 576px) {@content;}
    }

    @else if $point == xs {
        @media (max-width: 425px) {@content;}
    }
    
}